root = true

# All files
[*]
indent_style = space
indent_size = 4
tab_width = 4

# Xml files
[*.xml]
indent_size = 2
ij_xml_space_inside_empty_tag = true

[*.csproj]
indent_size = 2
ij_xml_space_inside_empty_tag = true

# C# files
[*.cs]


# Microsoft .NET properties
csharp_new_line_before_members_in_object_initializers = false
csharp_preserve_single_line_blocks = true
dotnet_style_require_accessibility_modifiers = never:suggestion

# ReSharper properties
resharper_arguments_skip_single = true
resharper_blank_lines_after_block_statements = 0
resharper_braces_for_foreach = required
resharper_braces_for_ifelse = required
resharper_csharp_int_align_comments = true
resharper_csharp_wrap_after_invocation_lpar = true
resharper_csharp_wrap_before_invocation_rpar = true
resharper_instance_members_qualify_declared_in = base_class
resharper_keep_existing_declaration_block_arrangement = false
resharper_keep_existing_enum_arrangement = false
resharper_place_expr_property_on_single_line = true
resharper_wrap_array_initializer_style = chop_always
resharper_wrap_chained_binary_expressions = chop_if_long
resharper_wrap_object_and_collection_initializer_style = chop_always
